<%= form_with(model: Pago.new, local: true) do |f| %>

  <div class="row">
    <div class="col-s-off-2 col-s-8">
      <b><%= f.label :cantidad %></b>
      <%= f.text_field :cantidad, autocomplete: "cantidad", autofocus: true, class:"input-ctr space-v" %>
    </div>
  </div>


  <div class="row">
    <div class="col-s-off-2 col-s-8">
      <%= f.submit 'Realizar pago', class:"btn default space-v" %>
    </div>
  </div>
<% end %>
