// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
  font-size: 100%;
}
.container{
  max-width:1250px;
  margin: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
/* For tablets: */
  .col-s-1 {width: 8.333%;}
  .col-s-2 {width: 16.666%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.333%;}
  .col-s-5 {width: 41.666%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.333%;}
  .col-s-8 {width: 66.666%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.333%;}
  .col-s-11 {width: 91.666%;}
  .col-s-12 {width: 100%;}

  .col-s-off-1 {margin-left: 8.333%;}
  .col-s-off-2 {margin-left: 16.666%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-d-1 {width: 8.333%;}
  .col-d-2 {width: 16.666%;}
  .col-d-3 {width: 25%;}
  .col-d-4 {width: 33.333%;}
  .col-d-5 {width: 41.666%;}
  .col-d-6 {width: 50%;}
  .col-d-7 {width: 58.333%;}
  .col-d-8 {width: 66.666%;}
  .col-d-9 {width: 75%;}
  .col-d-10 {width: 83.333%;}
  .col-d-11 {width: 91.666%;}
  .col-d-12 {width: 100%;}

  .col-d-off-1 {margin-left: 8.333%;}
  .col-d-off-2 {margin-left: 16.666%;}
}
.center-tx{
  text-align: center;
}
.responsive{
  width: 100%;
  height: auto;
}
